.textedit-container .form-group {
  margin: 0;
}

.textedit-container input {
  margin: 0;
  padding: 0;
  border: none;
  background-color: inherit;
  box-shadow: none;
  text-decoration: underline;
  font-weight: 500;
}

.textedit-container input:focus {
  padding: 0 0.3em;
  text-decoration: none;
  font-weight: normal;
}
