.remove-sidebar {
  --lte-sidebar-width: 0;
}

.remove-sidebar .wrapper {
  position: relative;
  display: grid;
  grid-template-areas:
    "main-header"
    "content-wrapper"
    "main-footer";
  grid-template-rows: min-content 100% min-content;
  grid-template-columns: minmax(100%, max-content);
  grid-gap: 0;
  align-content: stretch;
  align-items: stretch;

  min-height: 100vh;
}

.small-box .icon {
  float: right;
}

.small-box .icon > .icon-inner {
  font-size: 60px;
  transition: transform 0.3s linear;
  padding-bottom: 12px;
  margin-right: 0.15em;
}

/* Prevent info-box text from being blue when href is non-None */
a.info-box {
  color: inherit;
}

/* For faicons.icon_svg to look properly centered */
.info-box > .info-box-icon > svg {
  margin-left: auto;
  margin-right: auto !important;
}
